﻿@model DishListViewModel

@{
    Layout = "_CustomerLayout";
}

<div class="row">
    <div id="categories" class="col-sm-12">
        @await Component.InvokeAsync("NavigationMenu")
    </div>
    
</div>

<div class="row">
    <div id="dishes" class="col-sm-12">
        <div class="container">
            @foreach (var d in Model.Dishes)
            {
                if (d.Diet == ViewBag.Diet)
                {
                    <div id="dish" class="col-sm-4">
                        @Html.Partial("DishSummary", d)
                    </div>
                }
                else
                {
                    <div id="dish" class="col-sm-4" style="background-color:darkgray">
                        @Html.Partial("DishSummary", d)
                    </div>
                }
                
            }
        </div>
    </div>
</div>

