<button class="btn btn-info" (click)="open(content)">
  <i class="fas fa-plus-circle"></i> Voeg maaltijd toe
</button>
<button type="button" class="btn btn-danger" (click)="open(delete)">
  <i class="fas fa-trash-alt"></i> Verwijder maaltijd
</button>
<div class="form-label-group">
  <label>Of wijzig een maaltijd</label>
  <select class="form-control" [(ngModel)]="meal">
    <option *ngFor="let m of meals" [ngValue]="m"> {{ m.name }} - {{ m.rating }} </option>
  </select>
</div>

<app-meal-detail *ngIf="meal" [Meal]="meal"></app-meal-detail>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Voeg maaltijd toe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="mealForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Naam</label>
        <input class="form-control" type="text" placeholder="Naam" formControlName="name" />
      </div>
      <span *ngIf="!mealForm.get('name').valid && mealForm.get('name').touched" class="help-block">
        mag niet leeg zijn
      </span>
      <div class="form-group">
        <label for="rating">Waardering</label>
        <select class="form-control" formControlName="rating" placeholder="Waardering">
          <option *ngFor="let r of ratings" [value]="r">{{ r }}</option>
        </select>
        <span *ngIf="!mealForm.get('rating').valid && mealForm.get('rating').touched" class="help-block">
          Kies een waardering
        </span>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" formControlName="type" placeholder="Type">
          <option *ngFor="let t of types" [value]="t">{{ t }}</option>
        </select>
        <span *ngIf="!mealForm.get('type').valid && mealForm.get('type').touched" class="help-block">
          Kies een type
        </span>
      </div>
      <div class="modal-footer">
        <button type="sumbit" class="btn btn-info max">Opslaan</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Verwijder maaltijd</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="deleteForm" (ngSubmit)="onDelete()">
      <label>Kies te verwijderen maaltijd</label>
      <select class="form-control" formControlName="mealid">
        <option *ngFor="let m of meals" [value]="m._id"> {{ m.name }} - {{ m.rating }} </option>
      </select>
      <button type="submit" class="btn btn-danger">Verwijderen</button>
    </form>
  </div>
</ng-template>
