﻿@model NewMealViewModel
@{
    Layout = "_CustomerLayout";
}

<h1>Details</h1>

<h3>@Model.CurrentDish</h3>

<form asp-action="Details" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="CurrentDish" value="@Model.CurrentDish" />
        <label asp-for="StarterDish">Voorgerecht:</label>
        <select class="form-control" asp-for="StarterDish">
            <option value="@Model.CategoryPreDishes">@Model.CategoryPreDishes</option>
            </select>
    </div>
    <div class="form-group">
        <label asp-for="DessertDish">Nagerecht:</label>
        <select class="form-control" asp-for="DessertDish">
            <option value="@Model.CategoryDessertDishes">@Model.CategoryDessertDishes</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Day" for="dt">Dag van de week:</label>
        <select class="form-control" asp-for="Day">
            <option value="Maandag">Maandag</option>
            <option value="Dinsdag">Dinsdag</option>
            <option value="Woensdag">Woensdag</option>
            <option value="Donderdag">Donderdag</option>
            <option value="Vrijdag">Vrijdag</option>
            <option value="Zaterdag">Zaterdag</option>
            <option value="Zondag">Zondag</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Size" for="dt">Grootte:</label>
        <select class="form-control" asp-for="Size">
            <option value="2">Standaard</option>
            <option value="1">Klein</option>
            <option value="3">Groot</option>
        </select>
    </div>
    <button asp-action="Details" class="btn btn-primary" type="submit">Check prijs</button>
</form>

