﻿@model Meal
@{
    Layout = "_CustomerLayout";
}

<div id="overview" class="container">
<h2>Overzicht</h2>
    <ul>
    <li>
    <form id="@Model" asp-action="AddToCart"
          asp-controller="Cart" method="post">
        <input type="hidden" asp-for="MealId" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text p-1">
            <label>Het totale bedrag is:</label>
            <label>@Model.TotalPrice.ToString("c")</label> <br/>
            <button type="submit"
                    class="btn btn-success btn-sm pull-center">
                Toevoegen aan winkelmandje
            </button>
        </span>
    </form></li>
</ul>

</div>
