.card {
  max-width: 50vw;
  padding: 15px;
  margin: 0 auto;
  background-color: lightgray;
  padding-top: 5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  #email,
  #password {
    margin-bottom: 2vw;
    margin-top: 2vw;
  }
  .checkbox {
    margin-top: 2vw;
  }
}

.login-container {
  background-image: url('src/assets/images/backgroundlogin.jpg');
  width: 100vw;
  height: 92.5vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
}
