<div class="login-container">
  <div class="card">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-3 font-weight-normal">Log in</h1>

      <div class="form-label-group">
        <input
          type="email"
          id="inputEmail"
          class="form-control"
          formControlName="email"
          placeholder="Emailadres"
          required
          autofocus
        />
        <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="help-block">
          <p id="email-invalid">Voer een geldig emailadres in</p>
        </span>
      </div>

      <div id="password">
        <label for="inputPassword" class="sr-only">Wachtwoord</label>
        <input
          type="password"
          id="inputPassword"
          formControlName="password"
          class="form-control"
          placeholder="Wachtwoord"
          required
        />
        <span
          *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
          class="help-block"
        >
          <p id="password-invalid">Voer een wachtwoord in</p>
        </span>
      </div>

      <button class="btn btn-lg btn-info btn-block" type="submit">Inloggen</button>
      <p class="mt-5 mb-3 text-muted">Nog geen lid? Registreer je <a routerLink="/register">hier</a></p>
    </form>
  </div>
</div>
