﻿@model Cart
<div  id="shoppingcart" class="">
    @if (Model.Lines.Count() > 0) {
        <small class="navbar-text">
            <b>Winkelmandje:</b>
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }
    <a asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="glyphicon glyphicon-shopping-cart"></i>
    </a>    
</div>