﻿body, html {
  width: auto;
  position: relative; }

body {
  position: relative;
  padding-bottom: 80px; }

.input-validation-error {
  border-color: red;
  background-color: #fee; }

#nav {
  background-color: #557D50;
  border: none; }
  #nav a {
    color: black; }
  #nav a:hover {
    color: #96FEC7; }
  #nav #title {
    margin-left: 40vw;
    margin-top: 5px;
    font-size: 25px;
    color: #89C981; }
  #nav #logout {
    margin-right: 20px;
    color: #96FEC7;
    background-color: #3d3d3d; }
  #nav #logout:hover {
    background-color: #557D50; }

.btn {
  background-color: #557D50;
  border: none; }

.btn:hover {
  background-color: #89C981; }

main {
  padding: 20px; }
