﻿$black: black;
$yellow: #EBFE96;
$primarygreen: #AEFDA3;
$primarydark: #557D50;
$primarymiddle: #89C981;
$lightgrey: #D9D9D9;
$accent: #96FEC7;
$darkgrey: #3d3d3d;
$greenaccent: #ddfcd8;

body, html {
    width: auto;
    position: relative;
}

body {
    position: relative;
    padding-bottom: 80px;
  
}
.input-validation-error {
    border-color: red;
    background-color: #fee;
}
#nav {
    background-color: $primarydark;
    border: none;
    a{
        color: $black;
    }
    a:hover{
        color: $accent;
    }
    #title{
        margin-left: 40vw;
        margin-top: 5px;
        font-size: 25px;
        color: $primarymiddle;
    }
    #logout{
        margin-right: 20px;
        color: $accent;
        background-color: $darkgrey
    }
    #logout:hover{
        background-color: $primarydark;

    }
    
}
.btn{
    background-color:$primarydark;
    border:none;
}
.btn:hover{
    background-color: $primarymiddle;
}

main{
    padding: 20px;
}