<div class="aboutpage">
  <div class="row">
    <div class="col-sm-6 col-md-8 col-lg-9">
      <h1>Over deze applicatie</h1>
      <p>
        Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
        Breda.
      </p>
      <h3>My Diet Tracker</h3>
      <p>
        Voor dit project wordt een applicatie gemaakt waarin een gebruiker per dag (per maaltijd) bij kan
        houden of hij of zij zich aan zijn dieet heeft gehouden. Dit gebeurd bij de maaltijden door middel van
        smileys. De gebruiker kan bijhouden hoeveel hij of zij al heeft gedronken. Ook kan de gebruiker zijn
        of haar historie terugkijken.
      </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="d-flex justify-content-center align-items-center">
          <img
            src="assets/images/person.JPG"
            class="card-img-top rounded-circle border profile-pic"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Anjuli Jhakry</h5>
          <p class="card-text">
            Studentnummer: 2134978
          </p>
        </div>
      </div>
    </div>
  </div>

  <h3>Entiteiten</h3>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <p>Day</p>
      <ul>
        <li>_id: number</li>
        <li>date_year: number</li>
        <li>date_month: number</li>
        <li>date_day: number</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>Drink</p>
      <ul>
        <li>_id: string</li>
        <li>dayid: string</li>
        <li>name: string</li>
        <li>quantity: number</li>
        <li>time: Date</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>Meal</p>
      <ul>
        <li>_id: string</li>
        <li>dayid: string</li>
        <li>name: string</li>
        <li>rating: number</li>
        <li>type: string</li>
        <li>time: Date</li>
      </ul>
    </div>
  </div>

  <app-usecase-list></app-usecase-list>
</div>
