﻿@model RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<h2>Registreer je nu bij EasyMeal!</h2>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<form asp-action="Register" asp-controller="Account" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="Name">Naam:</label>
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Emailadres:</label>
        <div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Password">Wachtwoord:</label>
        <div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber">Telefoonnummer:</label>
        <div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="StreetAddress">Straat en huisnummer:</label>
        <div>
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
        </div>
        <input asp-for="StreetAddress" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PostalCode">Postcode</label>
        <div>
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <input asp-for="PostalCode" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Birthdate">Geboortedatum:</label>
        <div>
            <span asp-validation-for="Birthdate" class="text-danger"></span>
        </div>
        <input asp-for="Birthdate" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="Dieterypreference" for="dt">Dieetwensen:</label>
        <select class="form-control" asp-for="Dieterypreference">
            <option value="" selected disabled hidden>Kies hier</option>
            <option value="Fructosevrij">Fructosevrij</option>
            <option value="Lactosevrij">Lactosevrij</option>
            <option value="Glutenvrij">Glutenvrij</option>
        </select>

    </div>
    <button class="btn btn-primary" type="submit">Registreer</button>
</form>