<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Naam</label>
    <input class="form-control" type="text" placeholder="Naam" [(ngModel)]="Drink.name" name="name" />
  </div>
  <div class="form-group">
    <label for="quantity">Hoeveelheid</label>
    <input
      class="form-control"
      type="number"
      placeholder="Hoeveelheid"
      [(ngModel)]="Drink.quantity"
      min="0"
      max="1000"
      name="quantity"
    />
  </div>
  <button id="submitbutton" class="btn btn-info" type="submit">
    Opslaan
  </button>
</form>
