<div class="overview">
  <h1 *ngIf="day">Details: {{ day.date_day }}-{{ day.date_month }}-{{ day.date_year }}</h1>
  <button type="button" class="btn btn-danger" (click)="delete()">
    <i class="fas fa-trash-alt"></i> Verwijder deze dag
  </button>
</div>

<div class="details">
  <div class="drinks">
    <h1>Drankjes</h1>
    <app-drink-overview *ngIf="day" [dayid]="day._id"></app-drink-overview>
  </div>
  <div class="meals">
    <h1>Maaltijden</h1>
    <app-meal-overview *ngIf="day" [dayid]="day._id"></app-meal-overview>
  </div>
</div>
