.overview {
  width: 100vw;
  text-align: center;
  padding-bottom: 2px;
  border-bottom: solid #138496 3px;
}

h1 {
  text-align: center;
  margin-top: 10px;
}

.btn-danger {
  margin-bottom: 3px;
}

.drinks {
  width: 40vw;
  float: left;
  margin: 0;
  padding: 10px;
  height: 76vh;
  display: block;
}

.meals {
  float: right;
  padding: 10px;
  height: 76vh;
}
