<button class="btn btn-info" (click)="open(content)">
  <i class="fas fa-plus-circle"></i> Voeg drankje toe
</button>
<button type="button" class="btn btn-danger" (click)="open(delete)">
  <i class="fas fa-trash-alt"></i> Verwijder drankje
</button>
<div class="form-label-group">
  <label>Of wijzig een drankje</label>
  <select class="form-control" [(ngModel)]="drink">
    <option *ngFor="let d of drinks" [ngValue]="d"> {{ d.name }} - {{ d.quantity }} </option>
  </select>
</div>

<app-drink-detail *ngIf="drink" [Drink]="drink"></app-drink-detail>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Voeg drankje toe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="drinkForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Naam" formControlName="name" />
      </div>
      <span *ngIf="!drinkForm.get('name').valid && drinkForm.get('name').touched" class="help-block">
        Mag niet leeg zijn
      </span>
      <div class="form-group">
        <input
          class="form-control"
          type="number"
          placeholder="Hoeveelheid"
          formControlName="quantity"
          min="0"
          max="1000"
        />
      </div>
      <span *ngIf="!drinkForm.get('quantity').valid && drinkForm.get('quantity').touched" class="help-block">
        Mag niet negatief zijn
      </span>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info max">Opslaan</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Verwijder drankje</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="deleteForm" (ngSubmit)="onDelete()">
      <label>Kies te verwijderen drankje</label>
      <select class="form-control" formControlName="drinkid">
        <option *ngFor="let d of drinks" [value]="d._id"> {{ d.name }} - {{ d.quantity }} </option>
      </select>
      <button type="submit" class="btn btn-danger">Verwijderen</button>
    </form>
  </div>
</ng-template>
