﻿@model Order

@{
    Layout = "_CustomerLayout";
}

<div class="text-center">
    <h2>Bestellen</h2>
    <h3>Je hebt voor de volgende dagen besteld:</h3>

    <table id="bestellingen" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Dag van de week</th>
            <th class="text-right">Prijs</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var m in @Model.Meals) { 
            <tr>
                <td class="text-left">@m.GetDutchDayOfWeek()</td>
                <td class="text-right">@m.TotalPrice.ToString("c")</td>
            </tr>
        }
        </tbody>    
        <tfoot>
    </table>

        <form asp-action="Checkout" method="post">
            <p>Bevestig dat je wil bestellen</p>
        <input class="btn btn-primary" type="submit" value="Bestellen" /></form>
</div>

        
