.btn {
  font-size: 40px;
  i.far.fa-sad-tear {
    color: red;
  }
  i.far.fa-frown {
    color: orange;
  }
  i.far.fa-meh {
    color: rgba(204, 192, 17, 0.808);
  }
  i.far.fa-smile {
    color: rgb(145, 196, 69);
  }
  i.far.fa-smile-beam {
    color: green;
  }
}

#save {
  width: 70px;
  height: 35px;
  font-size: smaller;
  margin-bottom: 4px;
}

.active {
  i.far.fa-sad-tear {
    color: red;
    border-radius: 50%;
    border-style: dashed;
  }
  i.far.fa-frown {
    color: orange;
    border-radius: 50%;
    border-style: dashed;
  }
  i.far.fa-meh {
    color: rgba(204, 192, 17, 0.808);
    border-radius: 50%;
    border-style: dashed;
  }
  i.far.fa-smile {
    color: rgb(145, 196, 69);
    border-radius: 50%;
    border-style: dashed;
  }
  i.far.fa-smile-beam {
    color: green;
    border-radius: 50%;
    border-style: dashed;
  }
}
.form-control {
  align-self: center;
  margin: 10px;
  margin-top: 25px;
  width: 200px;
  display: unset;
}
form {
  margin: 0 !important;
  display: inline;
}
