<div class="value-buttons">
  <button class="btn" [ngClass]="{ active: Meal.rating === 0 }" (click)="saveRating(0)">
    <i class="far fa-sad-tear"></i>
  </button>
  <button class="btn" [ngClass]="{ active: Meal.rating === 25 }" (click)="saveRating(25)">
    <i class="far fa-frown"></i>
  </button>
  <button class="btn" [ngClass]="{ active: Meal.rating === 50 }" (click)="saveRating(50)">
    <i class="far fa-meh"></i>
  </button>
  <button class="btn" [ngClass]="{ active: Meal.rating === 75 }" (click)="saveRating(75)">
    <i class="far fa-smile"></i>
  </button>
  <button class="btn" [ngClass]="{ active: Meal.rating === 100 }" (click)="saveRating(100)">
    <i class="far fa-smile-beam"></i>
  </button>
  <form [formGroup]="mealForm" (ngSubmit)="onSubmit()">
    <input
      *ngIf="Meal.name === ''"
      class="form-control"
      formControlName="name"
      placeholder="Wat heb je gegeten?"
    />
    <button type="submit" id="save" class="btn btn-info">Opslaan</button>
  </form>
</div>
