<div class="register-container">
  <div class="card">
    <form class="form-register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-3 font-weight-normal">Registeren</h1>

      <h6>Naam</h6>
      <div class="form-label-group">
        <input
          type="text"
          id="firstname"
          class="form-control"
          formControlName="firstname"
          placeholder="Voornaam"
        />

        <input
          type="text"
          id="lastname"
          class="form-control"
          placeholder="Achternaam"
          formControlName="lastname"
        />
      </div>
      <span
        *ngIf="!registerForm.get('firstname').valid && registerForm.get('firstname').touched"
        class="help-block inline"
      >
        Voer een geldig voornaam in<br />
      </span>
      <span
        *ngIf="!registerForm.get('lastname').valid && registerForm.get('lastname').touched"
        class="help-block"
      >
        Voer een geldig achternaam in
      </span>

      <h6>Geboortedatum</h6>
      <div class="form-label-group">
        <select id="dobDay" class="form-control mb-4" placeholder="0" formControlName="dateOfBirth_day">
          <option *ngFor="let r of days" [value]="r">{{ r }}</option>
        </select>
        <select
          class="dobMonth"
          class="form-control mb-4"
          placeholder="Maand"
          formControlName="dateOfBirth_month"
        >
          <option value="1">Januari</option>
          <option value="2">Februari</option>
          <option value="3">Maart</option>
          <option value="4">April</option>
          <option value="5">Mei</option>
          <option value="6">Juni</option>
          <option value="7">Juli</option>
          <option value="8">Augustus</option>
          <option value="9">September</option>
          <option value="10">Oktober</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
        <input
          type="text"
          id="dobYear"
          class="form-control mb-4"
          placeholder="Jaar"
          formControlName="dateOfBirth_year"
        />
      </div>

      <span
        *ngIf="!registerForm.get('dateOfBirth_day').valid && registerForm.get('dateOfBirth_day').touched"
        class="help-block"
      >
        Voer je geboortedag in <br />
      </span>
      <span
        *ngIf="!registerForm.get('dateOfBirth_month').valid && registerForm.get('dateOfBirth_month').touched"
        class="help-block"
      >
        Voer je geboortemaand in <br />
      </span>
      <span
        *ngIf="!registerForm.get('dateOfBirth_year').valid && registerForm.get('dateOfBirth_year').touched"
        class="help-block"
      >
        Voer je geboortejaar in
      </span>
      <h6>Geslacht</h6>
      <div class="form-label-group">
        <select id="gender" class="form-control mb-4" placeholder="Geslacht" formControlName="gender">
          <option value="male">Man</option>
          <option value="female">Vrouw</option>
          <option value="not specified">Anders</option>
        </select>
        <span
          *ngIf="!registerForm.get('gender').valid && registerForm.get('gender').touched"
          class="help-block"
        >
          Voer je geslacht in
        </span>
      </div>

      <h6>Inloggevens</h6>
      <div class="form-label-group">
        <input
          type="text"
          id="email"
          class="form-control mb-4"
          formControlName="email"
          placeholder="Emailadres"
        />
        <div id="password">
          <label for="inputPassword" class="sr-only">Wachtwoord</label>
          <input
            type="password"
            id="inputPassword"
            formControlName="password"
            class="form-control"
            placeholder="Wachtwoord"
            required
          />
        </div>
      </div>
      <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched" class="help-block">
        Voer een geldig emailadres in<br />
      </span>
      <span
        *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
        class="help-block"
      >
        Voer een geldig wachtwoord in
      </span>
      <div class="form-group">
        <h4>Diëten:</h4>
        <div class="form-check">
          <label class="form-check-label">
            <input formControlName="checkLV" type="checkbox" class="form-check-input" />Lactosevrij
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input formControlName="checkGV" type="checkbox" class="form-check-input" />Glutenvrij
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input formControlName="checkFV" type="checkbox" class="form-check-input" />Fructosevrij
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input formControlName="checkKA" type="checkbox" class="form-check-input" />Koolhydraatarm
          </label>
        </div>
      </div>

      <button id="submitbutton" class="btn btn-lg btn-info btn-block" type="submit">
        Registeren
      </button>
    </form>

    <p class="mt-5 mb-3 text-muted">Al lid? Klik <a routerLink="/login">hier</a> om in te loggen</p>
  </div>
</div>
