.card {
  width: 100%;
  max-width: 60vw;
  padding: 15px;
  margin: 0 auto;
  background-color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .checkbox {
    margin-top: 2vw;
  }
  .form-label-group {
    margin: 0;
    margin-left: 5px;
    display: -webkit-box;
  }
  span {
    padding: 0;
    margin: 0;
    color: red;
  }
  .submitbutton {
    margin: 0;
    padding: 0;
  }
  .mt-5 {
    margin: 0 !important;
  }
  .form-control {
    width: 40%;
  }
  #dobDay {
    width: 15%;
  }
  #dobMonth {
    width: 10%;
  }
  #dobYear {
    width: 20%;
  }
  #password {
    width: 60%;
  }
  select {
    margin-bottom: 0 !important;
  }
  .mb-4 {
    margin-bottom: 0 !important;
  }
  h6 {
    margin-bottom: 0 !important;
  }
}
.register-container {
  background-image: url('src/assets/images/backgroundlogin.jpg');
  width: 100vw;
  height: 92.5vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
}
