<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Naam</label>
    <input class="form-control" type="text" placeholder="Naam" [(ngModel)]="Meal.name" name="name" />
  </div>
  <div class="form-group">
    <label for="rating">Waardering</label>
    <select class="form-control" required [(ngModel)]="Meal.rating" name="rating">
      <option *ngFor="let r of ratings" [value]="r">{{ r }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control" required [(ngModel)]="Meal.type" name="type">
      <option *ngFor="let t of types" [value]="t">{{ t }}</option>
    </select>
  </div>
  <button id="submitbutton" class="btn btn-info" type="submit">
    Opslaan
  </button>
</form>
