<form class="form-add" [formGroup]="drinkForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <h4>Voeg drankje toe</h4>

    <input class="form-control" type="text" placeholder="Naam" formControlName="name" />
  </div>
  <span *ngIf="!drinkForm.get('name').valid && drinkForm.get('name').touched" class="help-block">
    Mag niet leeg zijn
  </span>
  <div class="form-group">
    <input
      class="form-control"
      type="number"
      placeholder="Hoeveelheid"
      formControlName="quantity"
      min="0"
      max="1000"
    />
  </div>
  <span *ngIf="!drinkForm.get('quantity').valid && drinkForm.get('quantity').touched" class="help-block">
    Mag niet negatief zijn
  </span>

  <button id="submitbutton" class="btn btn-info" type="submit">
    Toevoegen
  </button>
</form>
