<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" routerLink="/home">My Diet Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" [routerLinkActive]="['active']">About</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="['active']">Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" routerLink="/history" [routerLinkActive]="['active']">Historie</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" routerLink="/user" [routerLinkActive]="['active']"
          >Gebruikers <i class="far fa-user-circle"></i
        ></a>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn; else block">
        <button id="logoutButton" class="btn btn-danger" (click)="logOut()">Uitloggen</button>
      </li>
      <ng-template #block>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" [routerLinkActive]="['active']">Login</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
