<div class="dashboard-container">
  <h1>Welkom {{ username }} !</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <app-meal-list *ngIf="date"></app-meal-list>
      </div>
      <div class="col-md-5">
        <h3>Drinks</h3>
        <app-drinks *ngIf="date"> </app-drinks>
      </div>
    </div>
  </div>
</div>
