.dashboard-container {
  background-image: url('src/assets/images/foodbackground.jpeg');
  width: 100vw;
  height: 92.5vh;
  margin: 0;
  padding: 20px;

  h1 {
    text-align: center;
  }
  .container-fluid {
    padding: 0;
    margin: 0;
    .row {
      padding: 0;
      margin: 0;

      .col-md-6 {
        margin: 20px;
        padding: 20px;
        height: 73.5vh;

        background-color: whitesmoke;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .col-md-5 {
        margin: 20px;
        height: 73.5vh;
        padding: 20px;
        h3 {
          text-align: center;
        }
        background-color: whitesmoke;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
}
