<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">My Diet Tracker</h1>
</header>

<div class="jumbotron text-center">
  <p>My Diet Tracker</p>
</div>
