.w3-container {
  background-image: url('src/assets/images/komkommer.jpeg');

  width: 100vw;
  height: 60vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.jumbotron {
  margin-bottom: 0;
  width: 100vw;
  height: 34vh;
}
