<div class="users">
  <h1>Alle gebruikers</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Naam</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.firstname }} {{ user.lastname }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
