﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" asp-href-include="css/StyleSheet.css" />
</head>
<body>
    <nav id="nav" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">EasyMeal</a>
            </div>
            
            <ul class="nav navbar-nav">
                <li id="title">@ViewBag.Title</li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="logout" class="btn btn-sm btn-primary"
                       asp-action="Logout" asp-controller="Account">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>

    
@if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }


<div class="container">
<main role="main">
    @RenderBody()
</main>
    
</div>
</body>
</html>
