﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" asp-href-include="css/StyleSheet.css"/>
</head>
<body>

<nav id="nav" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">EasyMeal</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-action="Register" asp-controller="Account"><span class="glyphicon glyphicon-user"></span> Registreer</a></li>
            <li><a asp-action="Login" asp-controller="Account"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <main role="main">
        @RenderBody()
    </main>

</div>
</body>
</html>