﻿@model IEnumerable<string>

<a class="btn btn-block btn-secondary"
   asp-action="List"
   asp-controller="Dish"
   asp-route-category="">
    Alles
</a>
@foreach (string category in Model) {
    <a class="btn btn-block @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")"
       asp-action="List"
       asp-controller="Dish"
       asp-route-category="@category">
        @category
    </a>
}