﻿@model NewDishModel
@{
    ViewBag.Title = @ViewBag.Title;
    Layout = "_AdminLayout";
}

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="DishId" />
    <div class="form-group">
        <label asp-for="Name">Naam:</label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Beschrijving:</label>
        <div><span asp-validation-for="Description" class="text-danger"></span></div>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Type" for="t">Type gerecht:</label>
        <select class="form-control" asp-for="Type" id="t">
            <option>Voorgerecht</option>
            <option>Hoofdgerecht</option>
            <option>Nagerecht</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Diet" for="dt">Dieet:</label>
        <select class="form-control" asp-for="Diet" id="dt">
            <option>Geen</option>
            <option value="Lactosevrij">Lactosevrij</option>
            <option value="Fructosevrij">Fructosevrij</option>
            <option value="Glutenvrij">Glutenvrij</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Price">Prijs:</label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input input-type="number" asp-for="Price" class="form-control" min="0" step="0.01" />
    </div>
    <div class="form-group">
        <label asp-for="Image">Afbeelding:</label>
        <input type="file" class="form-controle-file" asp-for="Image" accept="image/x-jpg"/>

    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Opslaan</button>
        <a asp-action="Index" class="btn btn-primary">Annuleren</a>
    </div>
</form>
