﻿@model IEnumerable<Dish>
@{
    ViewBag.Title = "Alle gerechten";
    Layout = "_AdminLayout";
}
<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-left">Naam</th>
        <th class="text-left">Beschrijving</th>
        <th class="text-right">Prijs</th>
        <th class="text-center">Acties</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td class="text-right">@item.Price.ToString("c")</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-dishId="@item.DishId">
                        Bewerken
                    </a>
                    <input type="hidden" name="DishId" value="@item.DishId" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Verwijderen
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Voeg een gerecht toe</a>
</div>