﻿@model CartIndexViewModel

@{
    Layout = "_CustomerLayout";
}

<h2>Winkelmandje</h2>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Dag van de week</th>
        <th class="text-right">Prijs</th>
        <th class="text-right">Acties</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.Cart.Lines) {
        <tr>
            <td class="text-left">@line.GetDutchDayOfWeek()</td>
            <td class="text-right">@line.TotalPrice.ToString("c")</td>
            <td>
                <form asp-action="RemoveFromCart" method="post">
                    <input type="hidden" name="MealIds"
                           value="@line.MealId" />
                    <input type="hidden" name="returnUrl"
                           value="@Model.ReturnUrl" />
                    <button type="submit" class="btn btn-sm btn-danger">
                        Verwijder
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-left">Totaalbedrag: @Model.Cart.ComputeTotalValue().ToString("c")</td>
       
    </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-action="List" asp-controller="Dish">Shop verder</a>
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">
        Bestellen
    </a>
</div>