﻿@model Customer

@{
    ViewBag.Title = "Dashboard " + @Model.Name;
    Layout = "_CustomerLayout";
}

<div class="container">
    <div class="col-sm-6">
        <a asp-controller="Order" asp-action="Index"></a>
        <h2>Je hebt het volgende bedrag open staan:</h2>
        <h2>@ViewBag.Dept.ToString("c")</h2>
        

    </div>
        <div class="col-sm-6">
            @if (ViewBag.CanOrder)
            {
                <h2>Je mag bestellen voor volgende week!</h2><br /><br />
                <i class="glyphicon glyphicon-hand-down"></i><br/><br/><br />
                <a class="btn btn-primary" asp-controller="Dish" asp-action="List" >Nieuwe bestelling</a>
            }else
            {
                <h2>Sorry, je mag vanaf maandag weer bestellen voor de volgende week</h2>
            }

        </div>
</div>
  