﻿@{
    ViewData["Title"] = "Overzicht bestelde maaltijden";
    Layout = "_CustomerLayout";
}

<h1>Maandfactuur</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Dag van de week</th>
            <th class="text-right">Prijs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var meal in ViewBag.Meals)
        {
            <tr>
                <td class="text-right">@meal.GetDutchDayOfWeek()</td>
                <td class="text-right">@meal.TotalPrice.ToString("c")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            @if (ViewBag.BDdiscount == true)
            {
                <td collspan="3" class="text-left">Verjaardagskorting is toegepast</td>
            }
            @if (ViewBag.Qdiscount == true)
            {
                <td collspan="3" class="text-left">Je hebt meer dan 15 maaltijden, dus je krijgt 10 % korting</td>
            }
            <td colspan="3" class="text-left">Totaalbedrag: @ViewBag.Dept.ToString("c")</td>

        </tr>
    </tfoot>
</table>

