<div class="container">
  <app-drink-add></app-drink-add>
  <br />
  <p *ngIf="drinks && drinks.length !== 0">Onlangs toegevoegd:</p>
  <div *ngFor="let drink of drinks | slice: 0:3; let i = index">
    <p class="btn btn-outline-info"><i class="fas fa-glass-whiskey"></i> {{ drink.name }}</p>
  </div>
</div>
