﻿body, html {
    width: auto;
    position: relative; }

body {
    position: relative; }

#nav {
    height: 100px;
    background-color: #AEFDA3;
    border: none;
    color: black;
    margin: 0px; }
#nav .navbar-brand {
    margin-top: 20px;
    color: black; }
#nav a {
    margin-top: 20px;
    font-size: 20px;
    color: black; }
#nav a:hover {
    background-color: #96FEC7; }

.input-validation-error {
    border-color: red;
    background-color: #fee; }

.container {
    width: 100%;
    position: relative;
    margin: 0; }

.container-fluid {
    position: relative; }

main {
    position: relative; }
main .col-sm-12 {
    width: 100%;
    margin: 0;
    padding: 0; }
main img#frontimg {
    width: 100%;
    height: 450px;
    margin-bottom: 30px; }
main h1 {
    font-size: 50px; }
main .col-sm-3 {
    padding: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    height: 500px;
    text-align: center;
    background-color: #AEFDA3;
    box-shadow: 0 0 5px 2px #808080; }
main .far {
    color: #557D50;
    margin-top: 50px;
    font-size: 200px; }
main .fas {
    color: #557D50;
    margin-top: 50px;
    font-size: 200px; }

#foot {
    background-color: black;
    position: relative; }

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
