﻿body, html {
  width: auto;
  position: relative; }

body {
  position: relative;
  padding-bottom: 80px; }

#nav {
  height: 90px;
  background-color: #AEFDA3;
  border: none;
  color: black;
  margin: 0px; }
  #nav .navbar-brand {
    margin-top: 20px;
    color: black; }
  #nav .btn {
    background-color: #557D50;
    color: white;
    border: none; }
  #nav a {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: black; }
  #nav a:hover {
    background-color: #96FEC7; }
  #nav #shoppingcart {
    margin-right: 30px;
    margin-top: 25px; }
    #nav #shoppingcart i {
      font-size: 40px; }

.input-validation-error {
  border-color: red;
  background-color: #fee; }

.container {
  width: 100%;
  position: relative;
  margin: 0; }

.container-fluid {
  position: relative; }

main {
  position: relative;
  padding: 20px; }
  main #dish {
    width: 25vw;
    height: 30vh; }
  main #f {
    width: 20vw;
    height: 30vh; }
  main #bestellingen {
    width: 60vw;
    margin-left: 20vw; }
  main .polaroid .badge {
    background-color: #557D50;
    margin-bottom: 10px; }
  main .polaroid img {
    width: 10vw;
    max-width: 10vw;
    height: 10vh;
    margin-bottom: 5px; }
  main #categories {
    margin-top: 20px;
    text-align: center;
    align-content: center;
    margin-left: 30vw; }
    main #categories a {
      background-color: #557D50;
      width: 40vw;
      margin-top: 20px;
      text-align: center;
      color: white; }
  main .btn {
    background-color: #96FEC7;
    border: none;
    color: black; }
  main .col-sm-12 {
    width: 100%;
    margin: 0;
    padding: 0; }
  main img#frontimg {
    width: 100%;
    height: 500px;
    margin-bottom: 30px; }
  main h1 {
    font-size: 50px; }
  main .col-sm-3 {
    padding: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    height: 500px;
    text-align: center;
    background-color: #AEFDA3;
    box-shadow: 0 0 5px 2px #808080; }
  main .col-sm-6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
    background-color: #ddfcd8;
    height: 400px;
    margin-left: 5vw;
    width: 40vw;
    text-align: center; }
    main .col-sm-6 a:hover {
      background-color: #557D50;
      color: white; }
    main .col-sm-6 i {
      font-size: 5vw;
      color: #557D50; }
  main .col-sm-4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
    background-color: #ddfcd8;
    height: 400px;
    margin-left: 5vw;
    width: 40vw;
    text-align: center; }
    main .col-sm-4 a:hover {
      background-color: #557D50;
      color: white; }
    main .col-sm-4 i {
      font-size: 5vw;
      color: #557D50; }
  main .col-9 {
    width: 60vw; }
  main #bigicon {
    color: #557D50;
    margin-top: 50px;
    font-size: 180px; }
  main #login {
    height: 570px; }
  main #overview {
    align-content: center;
    text-align: center; }
    main #overview ul {
      align-content: center;
      text-align: center;
      list-style-type: none; }
    main #overview ul li {
      text-align: center; }
  main #goback {
    background-color: red; }

footer {
  display: block;
  background-color: #3d3d3d;
  text-align: center;
  margin: 0;
  height: 100px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; }
