﻿$black : black;
$yellow: #EBFE96; 
$primarygreen: #AEFDA3;
$primarydark: #557D50;
$primarymiddle: #89C981;
$lightgrey: #D9D9D9;
$accent: #96FEC7;
$darkgrey: #3d3d3d;
$greenaccent: #ddfcd8;

$default-text-color: $black !default;

body, html {
    
    width: auto;
    position: relative;
}
body {
    position: relative;
    padding-bottom: 80px;
}
#nav {
    height: 90px;
    background-color: $primarygreen;
    border: none;
    color: $black;
    margin: 0px;

    .navbar-brand {
        margin-top: 20px;
        color: $black;
    }

    .btn  {
        background-color: $primarydark;
        color: white;
        border: none;
    }

    a {
        margin-top: 20px;
        margin-right: 20px;
        font-size: 20px;
        color: $black;
    }
        
    a:hover {
        background-color: $accent;
    }

    #shoppingcart {
        i {
            font-size: 40px;
        }

        margin-right: 30px;
        margin-top: 25px;
    }
}

.input-validation-error {
        border-color: red;
        background-color: #fee;
}


.container{
    width:100%;
    position:relative;
    margin: 0;
}
.container-fluid {
    position: relative;
}

main {
    position: relative;
    padding: 20px;

    #dish {
        width: 25vw;
        height: 30vh;
    }

    #f {
        width: 20vw;
        height: 30vh;
    }

    #bestellingen {
        width: 60vw;
        margin-left: 20vw;
    }

    .polaroid {
        .badge {
            background-color: $primarydark;
            margin-bottom: 10px;
        }

        img {
            width: 10vw;
            max-width: 10vw;
            height: 10vh;
            margin-bottom: 5px;
        }
    }

    #categories {
        margin-top: 20px;
        text-align: center;
        align-content: center;
        margin-left: 30vw;

        a {
            background-color: $primarydark;
            width: 40vw;
            margin-top: 20px;
            text-align: center;
            color: white;
        }
    }

    .btn {
        background-color: $accent;
        border: none;
        color: $black;
    }

    .col-sm-12 {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    img#frontimg {
        width: 100%;
        height: 500px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 50px;
    }

    .col-sm-3 {
        padding: 50px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 60px;
        margin-right: 60px;
        height: 500px;
        text-align: center;
        background-color: $primarygreen;
        box-shadow: 0 0 5px 2px #808080;
    }

    .col-sm-6 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 50px;
        background-color: $greenaccent;
        height: 400px;
        margin-left: 5vw;
        width: 40vw;
        text-align: center;

        a:hover {
            background-color: $primarydark;
            color: white;
        }

        i {
            font-size: 5vw;
            color: $primarydark;
        }
    }

    .col-sm-4 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 50px;
        background-color: $greenaccent;
        height: 400px;
        margin-left: 5vw;
        width: 40vw;
        text-align: center;

        a:hover {
            background-color: $primarydark;
            color: white;
        }

        i {
            font-size: 5vw;
            color: $primarydark;
        }
    }


    .col-9 {
        width: 60vw;
    }

    #bigicon {
        color: $primarydark;
        margin-top: 50px;
        font-size: 180px;
    }

    #login {
        height: 570px;
    }

    #overview {
        align-content: center;
        text-align: center;

        ul {
            align-content: center;
            text-align: center;
            list-style-type: none;
        }

        ul li {
            text-align: center;
        }
    }

    #goback {
        background-color: red;
    }
}


footer {
    display: block;
    background-color: $darkgrey;
    text-align: center;
    margin: 0;
    height: 100px;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}