﻿@{
    Layout = "_Layout";
}

<div class="row">
        <div class="col-sm-12">
            <img id="frontimg" src="images/frontpage.jpg">
        </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <h1>Snel</h1>
        <i id="bigicon" class="glyphicon glyphicon-time"></i>
    </div>
    <div class="col-sm-3">
        <h1>Kwalitatief</h1>  
        <i id="bigicon" class="glyphicon glyphicon-check"></i>
    </div>
    <div class="col-sm-3">
        <h1>Veel keuze</h1>
        <i id="bigicon" class="glyphicon glyphicon-list"></i>
        
    </div>
</div>
