<div class="history">
  <div class="days">
    <h1>Historie</h1>
    <form [formGroup]="allDaysForm" (ngSubmit)="goToDetails()">
      <div class="form-label-group">
        <label>Kies een dag: </label>
        <select class="form-control" formControlName="currentDay" placeholder="Dag">
          <option *ngFor="let day of days" [value]="day._id">
            {{ day.date_day }}-{{ day.date_month }}-{{ day.date_year }}
          </option>
        </select>
        <button class="btn btn-info" type="submit">Ga naar details</button>
      </div>
    </form>
    <button class="btn btn-info" (click)="open(content)">
      <i class="fas fa-plus-circle"></i> Voeg dag toe
    </button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Voeg dag toe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addDayForm" (ngSubmit)="addDay()">
      <div class="form-group">
        <label>Datum</label>
        <select class="form-control" formControlName="day" placeholder="Dag">
          <option *ngFor="let r of daynumbers" [value]="r">{{ r }}</option>
        </select>
        <span *ngIf="!addDayForm.get('day').valid && addDayForm.get('day').touched" class="help-block">
          Vul een dag in
        </span>
        <select class="form-control" formControlName="month" placeholder="Maand">
          <option *ngFor="let r of monthnumbers" [value]="r">{{ r }}</option>
        </select>
        <span *ngIf="!addDayForm.get('month').valid && addDayForm.get('month').touched" class="help-block">
          Vul een maand in
        </span>
        <input type="text" id="dobYear" class="form-control mb-4" placeholder="Jaar" formControlName="year" />
        <span *ngIf="!addDayForm.get('year').valid && addDayForm.get('year').touched" class="help-block">
          Vul een jaartal in
        </span>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info max">Opslaan</button>
      </div>
    </form>
  </div>
</ng-template>
