.days {
  margin: 5vw;
  float: left;
}

table {
  width: fit-content;
}

.btn {
  color: white;
  width: fit-content;
  margin: 5px;
  i {
    color: white;
  }
}
.daylist {
  align-items: horizontal;
}
span {
  color: red;
}
.form-label-group {
  display: -webkit-box;
  .form-control {
    margin: 5px;
  }
  label {
    margin: 5px;
  }
}
