﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" asp-href-include="css/Styles.css" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
</head>
<body>


<nav id="nav" class="navbar navbar-inverse bg-inverse" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">EasyMeal</a>
    </div>
    <ul class="nav navbar-nav">
        <li ><a asp-action="Index" asp-controller="Customer">Dashboard</a></li>
        <li ><a asp-action="Months" asp-controller="Customer">Maandoverzicht</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>@await Component.InvokeAsync("CartSummary")</li>
        <li><a class="btn btn-sm btn-primary" asp-action="Logout" asp-controller="Account">Log Out</a></li>
    </ul>
   
    </div>
</nav>

<div>
    <main>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()

    </main>
</div>

</body>
</html>