﻿@model Dish
<div class="polaroid">
    @if (@Model.Image != null)
    {
        <img src="data:image/jpg;base64,@Convert.ToBase64String(@Model.Image)">
    }
    else
    {
        <img src="/images/frontpage.jpg" alt="Norway" style="width: 100%">

    }
    <div class="container">
        <p>@Model.Name</p>
        <span class="badge badge-pill badge-primary">
            <small>@Model.Price.ToString("c")</small>
        </span>
        <a class="btn btn-block" asp-action="Details" asp-controller="Meal" asp-route-dishId="@Model.DishId">
            Details
        </a>
    </div>
</div>