<h3>Maaltijden</h3>
<div class="breakfast">
  <h4>Ontbijt</h4>
  <app-meal *ngIf="breakfast" [Meal]="breakfast"></app-meal>
</div>
<div class="lunch">
  <h4>Lunch</h4>
  <app-meal *ngIf="lunch" [Meal]="lunch"></app-meal>
</div>
<div class="dinner">
  <h4>Avondeten</h4>
  <app-meal *ngIf="dinner" [Meal]="dinner"></app-meal>
</div>
<div class="snack">
  <h4>Snack</h4>
  <app-meal *ngIf="snack" [Meal]="snack"></app-meal>
</div>
