.container {
  background: rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-top: 5px;
}
.glass {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #bbb;
  border-top: 1px solid #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  //   width: 300px;
  height: 350px;
  position: relative;
  .water {
    visibility: hidden;
    background-image: url('src/assets/images/waves.png');
    background-position: top right;
    position: absolute;
    bottom: 0px;
    width: 107px;
    height: 100px;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    align-items: center;
    .total {
      visibility: hidden;
      color: #666;
      text-align: center;
      font: 30px Arial, sans-serif;
    }
  }
}

.glass:hover .water {
  visibility: visible;
  height: 300px;
  background-position: top left;
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
  .total {
    visibility: visible;
  }
}
