﻿@model RegisterModel
@{
    ViewBag.Title = "Registeren";
    Layout = "_Layout";
}

<h2>Registreren</h2>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<form asp-action="Register" asp-controller="Account" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="Name">Naam:</label>
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Emailadres:</label>
        <div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Password">Wachtwoord:</label>
        <div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber">Telefoonnummer:</label>
        <div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit">Registreren</button>
</form>